<!-- meta tags -->
<meta name="keywords" content="snippets,code,instant,search,php,html,facebook,api,instgram,css,google analytics, twitter,tumblr,sql,jquery, javascript, wordpress">
<meta name="description" content="{{{stripTags description }}}">
<meta name="author" content="Jess Frazelle, http://frazelledazzell.com">

<!-- facebook meta tags -->
<meta property="og:title" content="{{#if snippet.name}}{{firstUc snippet.name }} | {{/if}}{{toUppercase category.name }}"/>
<meta property="og:image" content="http://snippetlib.com/img/share.png"/>
<meta property="og:site_name" content="Code Snippet Library by Jess Frazelle"/>
<meta property="og:description" content="{{{stripTags description }}}"/>
<meta property="og:url" content="http://snippetlib.com{{ uri }}"/>
<meta property="og:type" content="website"/>

<!-- twitter card meta tags -->
<meta property="twitter:account_id" content="285428413" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@frazelledazzell">
<meta name="twitter:creator" content="@frazelledazzell">
<meta name="twitter:title" content="{{#if snippet.name}}{{firstUc snippet.name }} | {{/if}}{{toUppercase category.name }} | Code Snippet Library by Jess Frazelle">
<meta name="twitter:description" content="{{{stripTags description }}}">
<meta name="twitter:image:src" content="http://snippetlib.com/img/share.png">
<meta name="twitter:image:width" content="512">
<meta name="twitter:image:height" content="512">
<meta name="twitter:domain" content="snippetlib.com">

<title>{{#if snippet.name}}{{firstUc snippet.name }} | {{/if}}{{toUppercase category.name }} | Code Snippet Library by Jess Frazelle</title>
